.block-content-richtext__wrapper {
    margin-bottom: 88px;
}

.full-rich-text {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

@media (max-width: 699px) {
    .full-rich-text {
        font-size: 1.4rem;
        line-height: 1.5;
    }
}

@media (min-width: 700px) {
    .full-rich-text {
        gap: 32px;
        line-height: 1.45;
    }
}

.full-rich-text > p {
    width: 100%;
}

.container--shrink {
    max-width: 312px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media (min-width: 700px)and (max-width: 1099px) {
    .container--shrink {
        padding: 0 24px;
    }
}

@media (min-width: 700px) {
    .container--shrink {
        max-width: 970px;
    }
}

.full-rich-text {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    gap: 24px;
}

@media (max-width: 699px) {
    .full-rich-text {
        font-size: 1.4rem;
        line-height: 1.5;
    }
}

@media (min-width: 700px) {
    .full-rich-text {
        grid-gap: 32px;
        gap: 32px;
        line-height: 1.45;
    }
}

.full-rich-text > p {
    width: 100%;
}

.section-head {
    margin-bottom: 3rem;
}

@media (max-width: 699px) {
    .section-head {
        text-align: center;
    }
}

.section-head--center {
    text-align: center;
}

.section-head__title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
}

@media (min-width: 700px) {
    .section-head__title {
        font-size: 2.4rem;
    }
}

.section-head__mark {
    padding: 2px 8px;
    border-radius: 2px;
    color: #fff;
    background-color: #e3001b;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 1.5;
}

.section-head--secondary .section-head__mark {
    background-color: #075c68;
}