.hotline {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: #e6eff0;
}

@media (min-width: 1100px) {
    .hotline {
        padding-bottom: 48px;
    }
}

.hotline__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-gap: 24px;
    gap: 24px;
    width: 100%;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.hotline__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1100px) {
    .hotline__container {
        flex-direction: row;
    }
}

.hotline__title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

@media (min-width: 1100px) {
    .hotline__title {
        flex: 2;
        text-align: left;
        font-size: 1.8rem;
        max-width: 376px;
    }
}

.hotline__title p {
    margin: 0;
    line-height: 1.4;
}

.hotline__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1100px) {
    .hotline__description {
        flex: 1;
        flex-direction: row;
        align-items: flex-end;
    }
}

.hotline__infos {
    position: relative;
    padding: 16px 48px 32px;
    text-align: center;
    border-radius: 100px;
    background: #fff;
}


@media (min-width: 1100px) {
    .hotline__infos {
        min-width: 400px;
        padding: 16px 80px 16px 32px;
        text-align: left;
    }
}

.hotline__label {
    font-size: 1.8rem;
    font-weight: 500;
}

@media (min-width: 1100px) {
    .hotline__label {
        font-weight: 600;
    }
}

.hotline__mention {
    color: #767676;
}

@media (max-width: 1099px) {
    .hotline__cta {
        margin-top: -20px;
    }
}

@media (min-width: 1100px) {
    .hotline__cta {
        margin-left: -48px;
        margin-bottom: -16px;
    }
}

.hotline__phone {
    min-width: 230px;
    font-size: 1.8rem;
    border-radius: 100px;
}

.hotline__phone {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 230px;
    min-height: 50px;
    padding: 2px 24px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #e3001b;
    border-radius: 100px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.hotline__phone:hover {
    background-color: #970b13;
}

.footer__main {
    border-top: 1px solid #cdcdcd;
    padding: 48px 64px 32px;
}

.footer__groups {
    display: flex;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 32px;
}

.footer__group--big {
    display: flex;
    justify-content: space-evenly;
    flex: 3;
}

.footer__col {
    flex: 1;
    padding: 0 50px;
    border-right: 1px solid #cdcdcd;
}

.footer__col:first-child {
    padding-left: 0;
}

.footer__col-title {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.footer__col-links {
    margin-top: 2px;
    list-style: none;
    padding: 0;
}

.footer__col-links li {
    margin: 0;
}

.footer__link {
    display: block;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #767676;
    text-decoration: none;
    transition: color 0.2s linear;
}

.footer__link:hover {
    color: #e3001b;
}

.footer__newsletter {
    display: block;
    padding-left: 50px;
    width: 20%;
}

.social-medias {
    display: flex;
    align-items: center;
}

.social-medias__list {
    display: flex;
    gap: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color: #e3001b;
    text-decoration: none;
    transition: color 0.2s linear;
}

.social-link:hover {
    color: #970b13;
}

.footer__label {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__label-title {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 12px 0;
}

.footer__label-image {
    max-width: 150px;
    height: auto;
    display: block;
}

.footer__legal {
    margin-top: 32px;
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer__legal-link {
    display: inline-flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 14px;
    color: #000;
}

.footer__legal-link:not(:last-child)::after {
    content: "|";
    margin: 0 8px;
    color: #000;
}

.footer__legal-link a {
    padding: 8px 2px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    transition: color 0.2s linear;
}

.footer__legal-link a:hover {
    color: #e3001b;
}